<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7acb94">  <td>21/02/26 17:02:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:approvalsScripts.approvalstype@77e4c80f]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@2032188048</td>   <td></td> </tr>
<tr bgcolor="ca8dfa">  <td>21/02/26 17:05:32</td>   <td>168782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="approvalstype.ApprovalsTab()[pri:0, instance:approvalsScripts.approvalstype@77e4c80f]">ApprovalsTab</td> 
  <td>main@2032188048</td>   <td></td> </tr>
<tr bgcolor="7acb94">  <td>21/02/26 17:08:03</td>   <td>320199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:approvalsScripts.approvalstype@77e4c80f]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@2032188048</td>   <td></td> </tr>
<tr bgcolor="7acb94">  <td>21/02/26 17:08:08</td>   <td>325464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:approvalsScripts.approvalstype@77e4c80f]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032188048</td>   <td></td> </tr>
</table>
