<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d59286">  <td>21/02/25 10:54:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@3d3fcdb0]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="d59286">  <td>21/02/25 10:57:13</td>   <td>164549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@3d3fcdb0]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="d59286">  <td>21/02/25 10:59:55</td>   <td>326552</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@3d3fcdb0]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/02/25 10:56:43</td>   <td>134177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreationOf_Category.creationOfCategory()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@3d3fcdb0]">creationOfCategory</td> 
  <td>main@889729797</td>   <td></td> </tr>
</table>
