<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87c66c">  <td>21/02/18 12:29:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:layersScript.AddDataToMap@7fe8ea47]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@992846223</td>   <td></td> </tr>
<tr bgcolor="6169cf">  <td>21/02/18 12:31:06</td>   <td>120199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddDataToMap.addDataToMap()[pri:0, instance:layersScript.AddDataToMap@7fe8ea47]">addDataToMap</td> 
  <td>main@992846223</td>   <td></td> </tr>
<tr bgcolor="87c66c">  <td>21/02/18 12:33:24</td>   <td>259058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:layersScript.AddDataToMap@7fe8ea47]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@992846223</td>   <td></td> </tr>
<tr bgcolor="87c66c">  <td>21/02/18 12:33:24</td>   <td>259060</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:layersScript.AddDataToMap@7fe8ea47]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@992846223</td>   <td></td> </tr>
</table>
