<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d59286">  <td>21/02/22 10:45:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@3d3fcdb0]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/02/22 10:48:19</td>   <td>151921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Security_Construction_MaterialsGroup_Script.security_Construction_MaterialsGroup_Script()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@3d3fcdb0]">security_Construction_MaterialsGroup_Script</td> 
  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="d59286">  <td>21/02/22 10:52:01</td>   <td>373630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@3d3fcdb0]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="d59286">  <td>21/02/22 10:52:02</td>   <td>375144</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@3d3fcdb0]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
</table>
